.heading1{
        text-align: center;
        font-size: 50px;
        color: darkblue;
        text-transform: uppercase;
}
#heading2{
    font-size: 32px;
    margin-left: 13px;
    color: brown;
    text-align: center;
}

form label{
    font-size: 23px;
    margin-top: 5px;
}   
.birthday{
    text-decoration: underline;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
  .para{
    text-decoration: underline;
    /* display: none; */
  }
  .container1{
    background-color: lightblue;
  }